<%= form_with(model: pin, local: true) do |form| %>
  <% if pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% pin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-default">
 <div class="panel-body">
  <div class="form-group">
    <%= form.label :opis %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :image, "Obraz" %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit :Utworz, class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
</div>
