<p id="notice"><%= notice %></p>

<div class="panel-heading">
<h1>Zdjęcia</h1>
</div>

     <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>
      <div class="box">
       <%= link_to image_tag(pin.image.url(:medium)), pin %><br>
        <%= pin.description%><br>
        <%= link_to 'Wyswietl', pin, class: 'btn btn-sm btn-primary' %>
         <% if pin.user == current_user %>
        <%= link_to 'Edytuj', edit_pin_path(pin), class: 'btn btn-sm btn-warning' %>
        <%= link_to 'Usuń',  pin, method: :delete, data: { confirm: 'Jesteś pewien?' }, class: 'btn btn-sm btn-danger' %>
        <% end %>
      </div>
    <% end %>
<%= link_to 'Nowy pin', new_pin_path %>
</div>