<p id="notice"><%= notice %></p>

<p>
 <%= image_tag @pin.image.url(:medium) %> <br>
  <strong>Opis:</strong>
  <%= @pin.description %>
</p>
 <% if @pin.user == current_user %>
<%= link_to 'Edytuj', edit_pin_path(@pin) %> 
<% end %>
<%= link_to 'Cofnij', pins_path %>
