<h2>Zmiana hasła</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nowe hasło" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> znakow)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Potwierdz hasło" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Zmień hasło" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
