<nav class="navbar navbar-default " >
  <div class="container">
    <div class="navbar-header">
     <%= link_to 'Natonek', root_path, class: 'navbar-brand' %> 
    </div>
    <ul class="nav navbar-nav navbar-right">
      
      <li><%= link_to 'Strona glowna', root_path  %></li>
      <li><%= link_to 'O mnie', home_about_path %></li>
      <li><%= link_to 'Zdjęcia', pins_path %></li>
      <% if user_signed_in? %>
      <li><%= link_to 'Nowe zdjęcie', new_pin_path    %></li>
      <li><%= link_to 'Edycja profilu', edit_user_registration_path    %></li>
      <li><%= link_to 'Wyloguj', destroy_user_session_path, method: :delete %></li>
      <% else %> 
      <li><%= link_to 'Logowanie', new_user_session_path    %></li>
      <li><%= link_to 'Rejestracja', new_user_registration_path %></li>
      <% end%> 
    </ul>
  </div>
</nav>