
<div class="jumbotron">
<h1>Witaj w mojej aplikacji</h1>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-primary btn-lg' %>
<%= link_to 'Strona głowna', root_path, class: 'btn btn-primary btn-lg' %>

</div>