<div class="panel panel-default">
    <div class="panel-heading"><h2>Logowanie</h2></div>
<div class="panel-body">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :Hasło %><br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, 'Zapamiętaj Mnie' %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Zaloguj", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
<div class="panel-footer"><%= render "devise/shared/links" %></div>
</div>